# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
RAW_TOPIC=sensor-raw-data
ANOMALY_TOPIC=sensor-anomalies

# Generator configuration
DATA_FILE=/app/dataset/household_power_consumption.txt

# Processor configuration
PROCESSOR_GROUP_ID=anomaly-detector-group
WINDOW_SIZE=100
SIGMA=1.5

# Display configuration
DISPLAY_GROUP_ID=display-group
